.list{
    border-bottom: 1px solid #ccc;
    padding: 4px;
    width: 300px;
    list-style: none;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover{
        background-color: #e0e0e0;
        transform: scale(1.05);
    }
}